/* 공통부분 */
* {
  box-sizing: border-box;
}
body {
  color: #3f464d;
  margin: 0 auto; /* 바디에 있는 모든 요소는 가운데로 설정 한다  디폴트 값*/
}
.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  /* 넘치는 부분 일괄적으로 변경 */
  overflow: hidden;
}
/* a태그의 기본 디폴트값을 재설정 해준다. */
a {
  all: unset;
}
a:link {
  text-decoration: none;
  color: #3f464d;
}
a:visited {
  text-decoration: none;
  color: #3f464d;
}
a:active {
  text-decoration: none;
  color: #3f464d;
}

/* 미디어 반응형 */
@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 980px) {
  .skill-container {
    display: none;
  }
}
/* header */
header {
  width: 100%;
  height: 62px;
  background-color: #fff;
  position: fixed; /* 헤더 메뉴 고정 */
  top: 0;
  left: 0;
  z-index: 100;
}
header .head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head-container .head-logo {
  font-weight: bold;
  font-size: 1.2rem;
}
header .head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}
header .head-container a:hover {
  cursor: pointer;
  color: #2186c4;
}
/* main 이미지 섹션 */
section {
  width: 100%;
  background-color: #fff;
  position: relative;
}
.main {
  height: 362px;
  background-image: url("	https://www.fun-coding.org/assets_lms/images/photodune-4161018-group-of-students-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%; /* backgroun 잘린 부분을 조정한다 */
  z-index: 1;
}
.main-container {
  width: 100%;
  height: 100%;
  background-color: rgb(47, 48, 89);
  opacity: 0.8;
  z-index: 2;
  margin-top: 62px;
}
.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.title-container .title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.8rem;
}
.title-container .message {
  font-size: 26px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 0.8rem;
  line-height: 32px;
}
/* 2번째 섹션 이미지 */
.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}
.skill-container .skill {
  width: 25%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s;
}
.skill-container .skill:hover {
  transform: translate(0, -5px);
}
.skill-container .skill .skill-icon {
  font-size: 2.5rem;
  margin: 0 10px;
}
.skill-container .skill .skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  line-height: 18px;
  margin: 10px 0px;
}

.skill-container .skill .skill-title .skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}

.skill-container .skill .skill-title .skill-usage {
  font-size: 0.9rem;
  color: #545e6f;
  margin-bottom: 0.2rem;
}
.skill-container .skill .python-style {
  color: #2186c4;
}
.skill-container .skill .vue-style {
  color: #2e7d32;
}
.skill-container .skill .ai-style {
  color: #f7df1e;
}
.skill-container .skill .analysis-style {
  color: #ff8066;
}
.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}
.roadmap-title-contaner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #545e6f;
}

.slide-next {
  font-size: 32px;
  cursor: pointer;
  color: rgb(47, 48, 49);
}
.slide-prev {
  font-size: 32px;
  cursor: pointer;
  color: #cfd8dc;
}
.arrow-container {
  display: flex;
}
.class-list {
  display: flex;
  list-style: none; /* 기본 ul태그 스타일 제거 */
  padding: 1rem 0;
  margin: 0;
  /* list-style:none 세트 : padding:0 , margin:0 */
  overflow: hidden;
}
.class-card {
  width: 240px;
  /* height: 150px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 11px;
  border-radius: 8px;
  margin: 0 10px;
  background-color: #fff;
  transition: 0.4s;
}

.class-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 11px;
  transform: translate(0, -5px);
}
.class-img {
  width: 240px;
  height: 150px;
  border-radius: 8px 8px 0 0;
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
}
.class-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class-type {
  font-size: 0.9rem;
  color: #949393;
}
.class-format {
  font-size: 0.9rem;
  color: #fff;
  background-color: #0d47a1;
  padding: 0.2rem;
}
.class-desc {
  width: 100%;
  margin-top: 1rem;
}
.class-title {
  font-weight: bold;
  color: #545e6f;
  /* text 말줄임표 */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 4개가 셋트 이다 */
  margin-bottom: 0.5rem;
  line-height: 21px;
}
.class-detail {
  font-size: 0.9rem;
  color: #545e6f;
  line-height: 1.5rem;
}
li:hover {
  cursor: pointer;
}
/* footer */
footer {
  border-top: 1px solid #e4e4e4;
  background-color: #f8f0fa;
  padding: 1rem 0;
  margin: 1rem 0;
  line-height: 1rem;
  height: 130px;
}
.footer-message {
  font-weight: bold;
  margin: 0.3rem 0.5rem;
  color: #545e6f;
}
.footer-contact {
  margin: 1rem 0.5rem;
  color: #545e6f;
}
.footer-copyright {
  color: #545e6f;
  margin: 0.2rem 0.5rem;
}
/* scroll 가상요소 */
#backtotop {
  background-color: rgb(47, 48, 89);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: background-color, opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
/* 아이콘 적용 방법 
1. ::after(요소뒤에 content 추가) 가상요소에서,
2. content "폰트어썸 유니코드"를 넣고,
3. font-family : fontAwesome 이라고 넣으면 된다.
*/

#backtotop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-size: 1.5rem;
  line-height: 40px; /* line-height 와 height 값이 같으면 값이 가운데 정렬된다. */
  color: #fff;
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
  background-color: rgb(47, 48, 49);
}
#backtotop.show:hover {
  cursor: pointer;
  background-color: #2186c4;
}
